<% provide(:title, 'スタッフ検索結果') %>
<h1>検索結果</h1>

<div class="col-md-10 col-md-offset-1">
  <table class="table table-sm table-hover" id="table-care_users">
    <thead>
      <tr>

        <th>name</th>
        <th>department</th>
    </thead>

    <% @results.each do |user| %>
    <tbody>
      <tr>
            <td><%= user.name %></td>
        <td><%= user.department %></td>
        <td>
          <%= link_to  "編集", edit_user_path(user), class: "btn btn-sm btn-primary" %>
          <%= link_to "削除", user, method: :delete,data: { confirm: "削除してよろしいですか？" },class: "btn btn-sm btn-danger" %>
        </td>
      </tr>
    
        <tbody>
        <% end %>
  </table>


<p><%= link_to "一覧",users_path, class: "btn btn-primary " %></p>
