<% provide(:title, @user.name) %>
<div>
  <table class="table table-bordered table-condensed table-sm user-table">
    <tr>
      <th style="width: 10%"><%= User.human_attribute_name(:name) %></th>
      <td   ><%= @user.name %></td>
    </tr>
    <tr>
      <th style="width: 10%"><%= User.human_attribute_name(:department) %></th>
      <td><%= @user.department %></td>
    </tr>  
    <tr>
      <th style="width: 10%"><%= CareUser.human_attribute_name(:cuser_confirm) %></th>
      <td>
      <%
=begin%>
 全ケアユーザーとcurrent_userに紐づくケアユーザーの数が一致⇨全利用者確認ずみ。
      全ケアユーザー - current_userに紐づくケアユーザーか未確認の利用者数。 
<%
=end%>
        <% if @care_users.size ==  @count %>
          <%="全利用者確認済み"%>
        <% else %>
          <div class="red"><%="未確認の利用者が#{@care_users.size - @count}名います"%></div>
        <% end %>
        
      </td>
    </tr> 
  </table>
  <%= link_to "利用者一覧", care_users_edit_index_user_path(@user), class: "btn btn-md btn-primary" %>
  <% if current_user.admin?%>
    <%= link_to  "新利用者作成", new_care_user_path, class: "btn btn-md btn-primary" %>
  <% end %>  
</div>