<% provide(:title, @user.name) %>
<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <th><%= User.human_attribute_name(:name) %></th>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <th><%= User.human_attribute_name(:department) %></th>
      <td><%= CareUser.human_attribute_name(:department) %></td>
    </tr>  
    <tr>
      <th><%= CareUser.human_attribute_name(:cuser_confirm) %></th>
      <td>
        <div class="red">未確認の利用者が件います</div>
      </td>
    </tr> 
  </table>
  <%= link_to "利用者一覧", care_users_edit_index_user_path(@user), class: "btn btn-md btn-primary" %>
  <% if current_user.admin?%>
    <%= link_to  "新利用者作成", new_care_user_path, class: "btn btn-md btn-primary" %>
  <% end %>  
</div>