<h1>What's Care Information ?</h1>
  <div class="card-group">
    <div class="row no-padding card-wrapper">
            <div class="col-md-6 card-container">
                <div class="card text-center">
                    <%= image_tag "o05000345shutterstock_152114741.jpg", class: "card-img-top" %>
                    <div class="card-body">
                        <h4>いつでも・どこでもパッと確認</h4>
                        <p>Reception tableを使用すれば、利用受付が直感的に行えます。従来までの、紙に記入しFAXをする手間が無くなり、効率的に利用受付の申請が可能です。</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 card-container">
                <div class="card text-center">
                    <%= image_tag "eigoappli.jpg", class: "card-img-top" %>
                    <div class="card-body">
                        <h4>見たい利用者を瞬時に検索</h4>
                        <p>"I have over 10 years of experimence in technology and haven't worked with a better team than Nuno</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row no-padding card-wrapper">
            <div class="col-md-6 card-container">
                <div class="card text-center">
                    <%= image_tag "599e39b28ecd6bd35f0f3853d8ae2a28_t.jpeg", class: "card-img-top" %>
                    <div class="card-body">
                        <h4>LINE通知で新規情報も見逃さない</h4>
                        <p>"I have over 10 years of experimence in technology and haven't worked with a better team than Nuno</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 card-container">
                <div class="card text-center">
                    <%= image_tag "unnamed.jpg", class: "card-img-top" %>
                    <div class="card-body">
                        <h4>細かな更新も見逃さない</h4>
                        <p>"I have over 10 years of experimence in technology and haven't worked with a better team than Nuno</p>
                    </div>
                </div>
            </div>
        </div>

        <div style="text-align:center;">
          <%= link_to "top",root_path, class: "btn btn-default btn-lg"%>
        </div>  
      </div> 