<% provide(:title, 'All Users') %>
<h1>利用者一覧</h1>

<div class="search">
  <%= search_form_for @q, url: search_care_users_path do |f| %>
    <%= f.search_field :name_or_department_cont, class: "form-control",placeholder: "利用者名" %><br>
    <div class="search1">
      <%= f.radio_button :department_cont, '本店' %>本店
      <%= f.radio_button :department_cont, '上高畑' %>上高畑
<%= f.submit '検索', class: 'btnbtn-primary' %>
         </div>
    <% end %>
</div>




<div class="col-md-10 col-md-offset-1">
  <table class="table table-sm table-hover" id="table-care_users">
    <thead>
      <tr>
        <th><%= User.human_attribute_name :name %></th>
        <th><%= User.human_attribute_name :department %></th>
      </tr>
    </thead>

    <% @care_users.each do |care_user| %>
      <tr>
        <td>
          <% if current_user.admin? %>
            <%= link_to care_user.name, care_user %>
          <% else %>
            <%= care_user.name %>
          <% end%>
        </td>
        <td><%= care_user.department %></td>
        <td>
          <% if current_user.admin?%>
            <%= link_to  "編集", edit_care_user_path(care_user), class: "btn btn-sm btn-primary" %>
            <%= link_to "削除", care_user, method: :delete,data: { confirm: "削除してよろしいですか？" },class: "btn btn-sm btn-danger" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

