<% provide(:title, 'All Users') %>
<h1>利用者一覧</h1>

<div class="col-md-10 col-md-offset-1">
  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <th><%= User.human_attribute_name :name %></th>
        <th><%= User.human_attribute_name :department %></th>
        <th></th>
      </tr>
    </thead>

    <% @care_users.each do |care_user| %>
      <tr>
        <td>
          <% if current_user.admin? %>
            <%= link_to care_user.name, care_user %>
          <% else %>
            <%= care_user.name %>
          <% end%>
        </td>
        <td><%= care_user.department %></td>
        <td>
          <% if current_user.admin?%>
            <%= link_to "削除", care_user, method: :delete,data: { confirm: "削除してよろしいですか？" },class: "btn btn-danger" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
