<% provide(:title, '利用者検索結果') %>
<h1>検索結果</h1>
<div class="text">
  <p>
    未確認or新規 →
      <button class="btn-primary btn-sm" disabled>確認</button>
    　　確認後更新 →
      <button button class="btn-success btn-sm" disabled>確認</button>
  </p>
</div>
<%#--if @results.present? --#%>
<%#--  <p><%= "更新された利用者が#{@count.count}名います。再度確認をお願いします"%>
<%# </p> %>
<%#--  <% end --#%>
<h5>
<% if @count.count > 0 %>
  <p class="sign"><%= "更新された利用者が#{@count.count}名います。再度確認をお願いします"%></p>
<% end %>
</h5>
<div class="col-md-10 col-md-offset-1">
  <table class="table table-sm table-hover" id="table-care_users">
    <thead>
    <tr>
        <th></th>
        <th><%= link_to "フリガナ", care_users_click_search_path(@sort) %></th>
        <th>名前</th>
        <th><%= link_to "学年", care_users_click_search_a_path(@sort) %></th>        
        <th>department</th>  
        <th></th>      
      </tr>
    </thead>
    <% @care_user.each do |care_user| %>
      <tbody>
        <tr>
          <td>  
          <% if care_user.image.present? %>
            <img src='<%= care_user.image %>'class="index_icon"></td>
          <% else %>
            <%= image_tag src='picture-3651039_1920.png', class: "index_icon", alt: "ユーザーアイコン" %>
          <% end %>
          <td><%= care_user.kana %></td>
          <td><%= link_to care_user.name, care_user %></td>
          <td><%= care_user.grade %></td>
          <td><%= care_user.department %></td>
          <td>
            <div class="index_btn">
            <%= form_with(model: care_user, url: care_user_intermediate_path(care_user_id: care_user.id, id: care_user.intermediates[0].id ), local: true) do |form| %>
                <%= hidden_field_tag :indication, "確認済" %>
                <% if intermediate_indication(care_user.id) == "確認済" %>
                  <%= form.submit "確認済", disabled: true,class: "btn btn-default " %>
                  <% elsif intermediate_indication(care_user.id) == "更新後未確認" %>
                  <%= form.submit "確認", class: "btn btn-success " %>
                  <% elsif intermediate_indication(care_user.id) == "未確認" %>
                  <%= form.submit "確認", class: "btn btn-primary " %>
                <% end %>
              <% end %>
            </div>
          </td>
        </tr>
      <tbody>
    <% end %>
  </table>
    <%= paginate (@care_user) %>
<p><%= link_to "back", care_users_path, class: "btn btn-default " %></p>

