<% provide(:title, @care_user.name) %>

<div class="img">

<div>
    <p><%= image_tag @care_user.image.url, class: "user-icon" if @care_user.image %></p>
</div>    


    <table class="table table-bordered table-condensed user-table">
      <tr>
        <th>department</th>
        <td><%= @care_user.department %></td>
      </tr> 
      <tr>
        <th>name</th>
        <td><%= @care_user.name %></td>
      </tr>
      <tr>
        <th>age</th>
        <td><%= @care_user.age %></td>
      </tr>  
      <tr>
        <th>gender</th>
        <td><%= @care_user.gender %></td>
      </tr> 
      <tr>
        <th>scool</th>
        <td><%= @care_user.school %></td>
      </tr> 
      <tr>
        <th>grade</th>
        <td><%= @care_user.grade %></td>
      </tr> 
      <tr>
        <th>contract</th>
        <td><%= @care_user.contract %></td>
      </tr> 
      <tr>
        <th>use_day</th>
        <td><%= @care_user.use_day %></td>
      </tr> 
    </table>
  <%= link_to "利用者一覧", care_users_path, class: "btn btn-md btn-primary" %>
  <%= link_to  "新利用者作成", new_care_user_path, class: "btn btn-md btn-primary" %>
</div>