<% provide(:title, @care_user.name) %>
<h1>利用者情報</h1>
<div class="img">
  <% if @care_user.image? %>
    <img src='<%= @care_user.image %>' class="user-icon" alt="ユーザーアイコン">
  <% else %>
    <%= image_tag src='picture-3651039_1920.png', class: "user-icon", alt: "ユーザーアイコン" %>
  <% end %>
  <div class="row">
    <% if current_user.admin?%>
      <%= link_to "利用者一覧",care_users_path, class: "btn btn-sm btn-primary" %>
      <%= link_to  "新規作成", new_care_user_path, class: "btn btn-sm btn-primary" %>
      <%= link_to  "編集", edit_care_user_path, class: "btn btn-sm btn-primary" %>
      <%= link_to "削除", care_user_path(@care_user), method: :delete,data: { confirm: "削除してよろしいですか？" },class: "btn btn-sm btn-danger" %>
    <% else %>
    <div class="current_no_admin">
      <%= link_to "利用者一覧",care_users_path, class: "btn btn-sm btn-primary" %>
    </div>


    <% end %>
  </div>  
</div> 
<div class="tb">
  <div class="row">
    <table class="table table-bordered table-condensed user-table">
      <tr>
        <th><%= CareUser.human_attribute_name(:department) %></th>
        <td><%= @care_user.department %></td>
      </tr> 
      <tr>
        <th><%= CareUser.human_attribute_name(:name) %></th>
        <td><%= @care_user.name %></td>
      </tr>
      <tr>
        <th><%= CareUser.human_attribute_name(:age) %></th>
        <td><%= @care_user.age %></td>
      </tr>  
      <tr>
        <th><%= CareUser.human_attribute_name(:gender) %></th>
        <td><%= @care_user.gender %></td>
      </tr> 
      <tr>
        <th><%= CareUser.human_attribute_name(:school) %></th>
        <td><%= @care_user.school %></td>
      </tr> 
      <tr>
        <th><%= CareUser.human_attribute_name(:grade) %></th>
        <td><%= @care_user.grade %></td>
      </tr> 
      <tr>
        <th><%= CareUser.human_attribute_name(:contract) %></th>
        <td><%= @care_user.contract %></td>
      </tr> 
      <tr>
        <th><%= CareUser.human_attribute_name(:use_day) %></th>
        <td><%= @care_user.use_day %></td>
      </tr> 
      <tr>
        <th><%= CareUser.human_attribute_name(:house) %></th>
        <td><%= @care_user.house %></td>
      </tr> 
      <tr>
        <th><%= CareUser.human_attribute_name(:disabled) %></th>
        <td><%= @care_user.disabled %></td>
      </tr> 
      <tr>
        <th><%= CareUser.human_attribute_name(:eat) %></th>
        <td><%= @care_user.eat %></td>
      </tr> 
      <tr>
        <th><%= CareUser.human_attribute_name(:evacuation) %></th>
        <td><%= @care_user.evacuation %></td>
      </tr> 
      <tr>
        <th><%= CareUser.human_attribute_name(:diapers) %></th>
        <td><%= @care_user.diapers %></td>
      </tr> 
      <tr>
        <th><%= CareUser.human_attribute_name(:cange_clothes) %></th>
        <td><%= @care_user.cange_clothes %></td>
      </tr> 
      <tr>
        <th><%= CareUser.human_attribute_name(:allergy) %></th>
        <td><%= @care_user.allergy %></td>
      </tr>
      <% if @care_user.allergy == "有" %>        
        <tr>
          <th><%= CareUser.human_attribute_name(:allergy_text) %></th>
          <td><%= @care_user.allergy_text %></td>
        </tr>
      <% end %>
      <tr>
        <th><%= CareUser.human_attribute_name(:medicine ) %></th>
        <td><%= @care_user.medicine %></td>
      </tr> 
      <tr>
        <th><%= CareUser.human_attribute_name(:seizures) %></th>
        <td><%= @care_user.seizures %></td>
      </tr> 
      <% if @care_user.seizures == "有" %>  
        <tr>
          <th><%= CareUser.human_attribute_name(:seizures_text) %></th>
          <td><%= @care_user.seizures_text %></td>
        </tr>
      <% end %>
      <tr>
        <th><%= CareUser.human_attribute_name(:communicate_a) %></th>
        <td><%= @care_user.communicate_a %></td>
      </tr> 
      <tr>
        <th><%= CareUser.human_attribute_name(:communicate_summary_a) %></th>
        <td><%= @care_user.communicate_summary_a %></td>
      </tr> 
      <tr>
        <th><%= CareUser.human_attribute_name(:communicate_b) %></th>
        <td><%= @care_user.communicate_b %></td>
      </tr> 
      <tr>
        <th><%= CareUser.human_attribute_name(:communicate_summary_b) %></th>
        <td><%= @care_user.communicate_summary_b %></td>
      </tr> 
      <tr>
        <th><%= CareUser.human_attribute_name(:indoor) %></th>
        <td><%= @care_user.indoor %></td>
      </tr> 
      <tr>
        <th><%= CareUser.human_attribute_name(:outdoor) %></th>
        <td><%= @care_user.outdoor %></td>
      </tr> 
      <tr>
        <th><%= CareUser.human_attribute_name(:summary) %></th>
        <td><%= @care_user.summary%></td>
      </tr> 
    </table>
  </div>  
</div> 

<script>
// アレルギーが有なら内容記載のフォームを出す
  $('#allergy').hide();

  $('#allergy').ready(function(){
      var name = $('.allergy').val()
      if(name == '有'){
  $('#allergy').show();
    }
    else if(name == '無'){
  $('#allergy').hide();
    }
  });
</script>