<% provide(:title, @care_user.name) %>

<div class="img">

<div>
    <p><%= image_tag @care_user.image.url, class: "user-icon" if @care_user.image %></p>
</div>    


    <table class="table table-bordered table-condensed user-table">
      <tr>
        <th>department</th>
        <td><%= @care_user.department %></td>
      </tr> 
      <tr>
        <th>name</th>
        <td><%= @care_user.name %></td>
      </tr>
      <tr>
        <th>age</th>
        <td><%= @care_user.age %></td>
      </tr>  
      <tr>
        <th>gender</th>
        <td><%= @care_user.gender %></td>
      </tr> 
      <tr>
        <th>scool</th>
        <td><%= @care_user.school %></td>
      </tr> 
      <tr>
        <th>grade</th>
        <td><%= @care_user.grade %></td>
      </tr> 
      <tr>
        <th>contract</th>
        <td><%= @care_user.contract %></td>
      </tr> 
      <tr>
        <th>use_day</th>
        <td><%= @care_user.use_day %></td>
      </tr> 
      <tr>
        <th>house</th>
        <td><%= @care_user.house %></td>
      </tr> 
      <tr>
        <th>disabled</th>
        <td><%= @care_user.disabled %></td>
      </tr> 
      <tr>
        <th>eat</th>
        <td><%= @care_user.eat %></td>
      </tr> 
      <tr>
        <th>evacuation</th>
        <td><%= @care_user.evacuation %></td>
      </tr> 
      <tr>
        <th>diapers</th>
        <td><%= @care_user.diapers %></td>
      </tr> 
      <tr>
        <th>cange_clothes</th>
        <td><%= @care_user.cange_clothes %></td>
      </tr> 
      <tr>
        <th>allergy</th>
        <td><%= @care_user.allergy %></td>
      </tr>
      <% if @care_user.allergy_text.present? %>
        <tr>
          <th>allergy_text</th>
          <td><%= @care_user.allergy_text %></td>
        </tr>
      <% end %> 
      <tr>
        <th>medicine</th>
        <td><%= @care_user.medicine %></td>
      </tr> 
      <tr>
        <th>seizures</th>
        <td><%= @care_user.seizures %></td>
      </tr> 
      <% if @care_user.seizures_text.present? %>
        <tr>
          <th>seizures_text</th>
          <td><%= @care_user.allergy_text %></td>
        </tr>
      <% end %> 

      <tr>
        <th>communicate_a</th>
        <td><%= @care_user.communicate_a %></td>
      </tr> 
      <tr>
        <th>communicate_summary_a</th>
        <td><%= @care_user.communicate_summary_a %></td>
      </tr> 
      <tr>
        <th>ommunicate_b</th>
        <td><%= @care_user.communicate_b %></td>
      </tr> 
      <tr>
        <th>communicate_summary_b</th>
        <td><%= @care_user.communicate_summary_b %></td>
      </tr> 
      <tr>
        <th>indoor</th>
        <td><%= @care_user.indoor %></td>
      </tr> 
      <tr>
        <th>outdoor</th>
        <td><%= @care_user.outdoor %></td>
      </tr> 
      <tr>
        <th>summary</th>
        <td><%= @care_user.summary%></td>
      </tr> 
    </table>
  <%= link_to "利用者一覧", care_users_path, class: "btn btn-md btn-primary" %>
  <%= link_to  "新利用者作成", new_care_user_path, class: "btn btn-md btn-primary" %>
</div>